{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>peg ToDo App</title>

    <link
      href="https://fonts.googleapis.com/css?family=Oswald"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
    <link rel="stylesheet" href="{% static 'todo/styles.css' %}" />

    <!-- jQuery   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- jQuery moje skripty -->
    <script>
      $(document).ready(function () {
        // click Delete All
        $("#deleteAll").click(function () {
          ConfirmDialog("Are you sure?");
        });
      });

      //  Yes or No confirm box using jQuery - https://is.gd/2U27Fd
      function ConfirmDialog(message) {
        $("<div></div>")
          .appendTo("body")
          .html("<div><h6>" + message + "?</h6></div>")
          .dialog({
            modal: true,
            title: "Delete All?",
            zIndex: 10000,
            autoOpen: true,
            width: "auto",
            resizable: false,
            buttons: {
              Yes: function () {
                // $(obj).removeAttr('onclick');
                // $(obj).parents('.Parent').remove();
                // $("body").append("<h2>Confirm Dialog Result: <i>Yes</i></h2>");
                $(this).dialog("close");

                // How to go to a URL using jQuery? [duplicate] -https://is.gd/BXLdVQ
                //As an HTTP redirect (back button will not work )
                // window.location.replace("http://www.google.com");
                window.location.replace("{% url 'deleteall' %}");
              },
              No: function () {
                // $("body").append("<h2>Confirm Dialog Result: <i>No</i></h2>");
                $(this).dialog("close");
              },
            },
            close: function (event, ui) {
              $(this).remove();
            },
          });
      }
    </script>
  </head>
  <body>
    <div class="container-fluid" id="wrapper">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4" id="content">
          <h2>+++ WHAT DO YOU WANT TO DO TODAY? +++</h2>

          <form action="{% url 'add' %}" method="POST" role="form">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                {{ form.text }}
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default" id="add-btn">
                    ADD
                  </button>
                </span>
              </div>
            </div>
          </form>

          <div class="row t10">
            <div class="col-lg-12">
              <div class="btn-toolbar">
                <!-- deletecomplete -->
                <div class="btn-group">
                  <a href="{% url 'deletecomplete' %}"
                    ><button type="button" class="btn btn-warning">
                      <i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
                    </button></a
                  >
                </div>

                <!-- deleteall -->
                <!-- <div class="btn-group" id="delA">
                  <a href="{% url 'deleteall' %}"
                    ><button type="button" class="btn btn-warning">
                      <i class="glyphicon glyphicon-trash"></i> DELETE ALL
                    </button></a
                  >
                </div> -->

                <div class="btn-group" id="deleteAll">
                  <button type="button" class="btn btn-warning">
                    <i class="glyphicon glyphicon-trash"></i> DELETE ALL
                  </button>
                </div>

                <!-- ----------------------------- -->
                <!-- peg - pridani radku  -->
                <div class="btn-group">
                  <a href="{% url 'addPokus' %}"
                    ><button type="button" class="btn btn-warning">
                      <i class="glyphicon glyphicon-pencil"></i> Add "Pokus"
                    </button></a
                  >
                </div>
                <!-- ----------------------------- -->
                <div class="btn-group">
                  <a href="{% url 'Invert' %}"
                    ><button type="button" class="btn btn-warning">
                      <i class="glyphicon glyphicon-check"></i> Invert
                    </button></a
                  >
                </div>
                <!-- ----------------------------- -->
              </div>
            </div>
          </div>

          <ul class="list-group t20">
            {% for todo in todo_list %} {% if todo.complete %}
            <a href="{% url 'complete' todo.id %}"
              ><li class="list-group-item todo-completed">
                {{ todo.text }}
              </li></a
            >
            {% else %}
            <a href="{% url 'complete' todo.id %}"
              ><li class="list-group-item">{{ todo.text }}</li></a
            >
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>

      <footer>
        <div class="row pad">
          <div class="col-lg-12 text-center">
            Copyright &copy; 2021 <strong>peg</strong> based on Copyright &copy;
            2017 <strong>ToDo App</strong> v1.02
          </div>
        </div>

        <h2>
          <a href="https://github.com/erlep/DjangoApp" target="_blank">
            >>> GitHub: erlep / DjangoApp <<<
          </a>
        </h2>

        <h2>
          <a href="https://github.com/erlep?tab=repositories" target="_blank">
            >>> GitHub: erlep Repositorie's <<<
          </a>
        </h2>

        <h2>
          <a href="admin" target="_blank"> >>> Admin Page<<< </a>
        </h2>
      </footer>
    </div>
  </body>
</html>
